Source: opensesame-toolbox
Section: science
Priority: extra
Maintainer: Bob Rosbag <debian@bobrosbag.nl>
Homepage: https://github.com/dev-jam/opensesame-toolbox
Build-Depends: debhelper (>= 7.0.50~), python3, python3-pyqt4, python3-numpy, python3-configobj
XS-Python-Version: >= 3.2
Standards-Version: 3.9.3

Package: opensesame-toolbox
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python3 (>= 3.2),
   python3-pyqt4, python3-numpy, python3-configobj
Recommends: opensesame
Description: OpenSesame Toolbox offers two applications to supplement OpenSesame. OpenSesame Experiment Manager can manage, order and execute OpenSesame Experiments and create OpenSesame Questionnaires. OpenSesame Questionnaire Processor can process OpenSesame multiple choice questionnaires by giving a summary of the scores.
